<html>
  <head>
    <title>Wiki example - <%= @page.title if @page %></title>
    <link rel="stylesheet" href="/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <%= @content %>
    
    <ul class="nested_menu">
      <% menu.each do |page| %>
        <%= build_menu page %>
      <% end %>
    </ul>
  </body>
</html>